
dataset/

target/maven-archiver/

target/classes/META-INF/maven/com.bonitasoft.movedatabase/SqlServerToPostgres/

target/classes/com/bonita/movedatabase/postgres/

*.class

target/classes/META-INF/maven/com.bonitasoft.movedatabase/Sql/pom.xml

target/classes/META-INF/maven/com.bonitasoft.movedatabase/Sql/pom.properties

target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst

target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
